@import "tailwindcss";

body {
	background: #000;
	background-image: radial-gradient(#48484a 5%, transparent 50%);
	background-size: 5px 5px;
}

.welcome {
	border-right: 0.15em solid #fbf4a0;
	animation:
		typing 3.5s steps(40, end),
		blink-caret 0.75s step-end infinite;
	overflow: hidden;
	white-space: nowrap;
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}

	50% {
		border-color: #fbf4a0;
	}
}

.glow-on-hover {
	border: none;
	outline: none;
	color: #ffbb00;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.glow-on-hover:before {
	content: "";
	background: linear-gradient(
		88deg,
		#ffbb00,
		#0e0e0e,
		#ffbb00,
		#0e0e0e,
		#ffbb00,
		#0e0e0e,
		#ffbb00,
		#0e0e0e
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.glow-on-hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}
